<div class="home-wrapper">
  <div class="bin-table-wrapper">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            <i class="fa fa-plus" routerLink="/maps" routerLinkActive="active" aria-hidden="true"></i>
          </th>
          <th scope="col">Location</th>
          <th scope="col">Pin Code</th>
          <th scope="col">Status</th>
          <th scope="col">Capacity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bin of binList; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{bin.addressLine3}}</td>
          <td>{{bin.pincode}}</td>
          <td>{{bin.flag}}</td>
          <td>{{bin.binCurrentCapacity}}</td>
          <th scope="col">
            <button class="btn btn-primary" style="margin-right:5px;" (click)="openEditModal(bin)">Edit</button>
            <button class="btn btn-success" style="margin-right:5px;" (click)="openGraphModal(content, bin)">View
              Status</button>
            <button class="btn btn-danger" style="margin-right:5px;" (click)="deleteBin(bin)">Delete Bin</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Bin Report Graph</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">{{binForModal.addressLine3}}</h6>
  </div>
  <div class="modal-body">
    <app-city-graph [binDetail]="binForModal"></app-city-graph>
  </div>
  <div class="modal-footer"></div>
</ng-template>